* {
    box-sizing: border-box;
}

body,
html {
    height: 100%; // background-color: 	#B0C4DE;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; // todo some styling
}

ul li:hover {
    background: #A9A9A9; // color: #fff;
}

.container {
    text-align: center;
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.form-inline {
    position: static;
}

li {
    display: inline-block;
}

.complete-item{
  float: left;
}

.item-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

.complete-item {
    color: greenyellow;
}

.complete-item:hover {
    color: greenyellow;
}

.edit-item {
    color: blue;
}

.edit-item:hover {
    color: blue;
}

.delete-item {
    color: red;
}

.delete-item:hover {
    color: red;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.form-inline {
    margin-left: auto;
    margin-right: auto;
}

.close {
  font-size: 1.4rem;
  cursor: pointer;
  color: red;
  float: none;
  opacity: 100;
}