* {
    box-sizing: border-box;
}

body,
html {
    height: 100%; // background-color: 	#B0C4DE;
    background-color:#eaeffa;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #e6ffff;
    font-size: 18px;
    transition: 0.3s;
}

h2 {
    margin: 20px;
}
#completedTodo{
    margin-left: -9px;
}

#textField {
    width: 250px;
}

ul li:hover {
    background: #A9A9A9;
}

.container {
    text-align: center;
    text-transform: capitalize;
}

.hidden {
    display: none;
}

li {
    display: inline-block;
}

.item-icon {
    font-size: 2.2rem;
    cursor: pointer;
}

.complete-item{
    color: black;
}

.complete-item:hover {
    color: greenyellow;
}

.edit-item {
    color: black;
}

.edit-item:hover {
    color:#66ffff;
}

.delete-item {
    color: black;
}

.delete-item:hover {
    color: red;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.form-inline {
    margin-left: auto;
    margin-right: auto;
}

.closeItm {
    cursor: pointer;
    float: none;
    opacity: 100;
    color: black;
}

.closeItm:hover {
    color: red;
}

ul li {
    border-radius: 3px;
    border-style: inset;
}

 @media (min-width: 768px) {
    .col-sm-8 {
      float:none;
  }

}
.btn-outline-info {
    border: 1px solid #17a2b8;
}

.btn-outline-secondary {
    border: 1px solid #6c757d;
}